<table class="table table-bordered table-hover">
	<thead class="thead-dark">
		<tr>
		<th scope="col">#</th>
		<th scope="col">Name</th>
		<th scope="col">Description</th>
		<th scope="col">Image</th>
		<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<th scope="row">1</th>
		<td>Police Unit K-9</td>
		<td>Tumble Dry Low. Sizing offered: XS - 3XL</td>
		<td>img/1.jpg</td>
		<td>
			<a href="#" class="btn btn-primary btn-sm btn-danger  mb-2" role="button">Delete</a>
			<a href="#" class="btn btn-primary btn-sm btn-primary" role="button">Edit</a>
		</td>
		</tr>
	</tbody>
</table>
